/********************/
/**** Typography ****/
/********************/

/* Fonts */
@font-face {
  font-family: 'pressura';
  src: url('[file].eot'); /* IE9 Compat Modes */
  src: url('[file].woff') format('woff'), /* Pretty Modern Browsers */
       url('[file].ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'avant-garde';
  src: url('[file].eot'); /* IE9 Compat Modes */
  src: url('[file].woff') format('woff'), /* Pretty Modern Browsers */
       url('[file].ttf')  format('truetype'), /* Safari, Android, iOS */
}
