/******************************/
/*** EuroTalk Theme colours ***/
/******************************/

$pallette-a-color : #FF3366;
$pallette-b-color : #1F1F1F;
$pallette-c-color : #80C837;
$pallette-d-color : #FCF7F8;
$pallette-e-color : #F4F0F0;
$pallette-f-color : #D0021B;
$pallette-g-color : #000000;
$pallette-h-color : #F4F0F0; 
