/* Font transforms */
.font--bold {
  font-weight: bold;
}
.font--italic {
  text-transform: italic
}
.center {
  text-align: center;
  margin: 0 auto;
}

.fontsize--h1 { font-size: $h1-font-size - $h1-font-reduction; }
.fontsize--h2 { font-size: $h2-font-size - $h2-font-reduction; }
.fontsize--h3 { font-size: $h3-font-size - $h3-font-reduction; }
.fontsize--h4 { font-size: $h4-font-size - $h4-font-reduction; }
.fontsize--h5 { font-size: $h5-font-size - $h5-font-reduction; }
.fontsize--h6 { font-size: $h6-font-size - $h6-font-reduction; }

@media #{$medium-up} {
  .fontsize--h1,
  .fontsize--h2,
  .fontsize--h3,
  .fontsize--h4,
  .fontsize--h5,
  .fontsize--h6 { line-height: $header-line-height; }
  .fontsize--h1 { font-size: $h1-font-size !important; }
  .fontsize--h2 { font-size: $h2-font-size !important; }
  .fontsize--h3 { font-size: $h3-font-size !important; }
  .fontsize--h4 { font-size: $h4-font-size !important; }
  .fontsize--h5 { font-size: $h5-font-size !important; }
  .fontsize--h6 { font-size: $h6-font-size !important; }
}

/* Themes */
.theme--a { color: $theme-a-color; a { color: $theme-a-color} }
.theme--b { color: $theme-b-color; a { color: $theme-b-color} }
.theme--c { color: $theme-c-color; a { color: $theme-c-color} }
.theme--d { color: $theme-d-color; a { color: $theme-d-color} }
.theme--e { color: $theme-e-color; a { color: $theme-e-color} }
.theme--f { color: $theme-f-color; a { color: $theme-f-color} }
.theme--g { color: $theme-g-color; a { color: $theme-g-color} }

.theme-bg--a { background-color: $theme-a-color }
.theme-bg--b { background-color: $theme-b-color }
.theme-bg--c { background-color: $theme-c-color }
.theme-bg--d { background-color: $theme-d-color }
.theme-bg--e { background-color: $theme-e-color }
.theme-bg--f { background-color: $theme-f-color }
.theme-bg--g { background-color: $theme-g-color }
