/*********************/
/*** Theme colours ***/
/*********************/

$theme-a-color : #FF3366; /* (Pink) Button, Box background */
$theme-b-color : #1F1F1F; /* (Dark Grey / Black ) Background */
$theme-c-color : #80C837; /* (Green) News box */
$theme-d-color : #FCF7F8; /* (Skin) h1 project titles */
$theme-e-color : #F4F0F0; /* (Dark skin) */
$theme-f-color : #D0021B; /* (Red) */
$theme-g-color : #000000; /* (Black) */
$theme-h-color : #F4F0F0; /* (Grey) form inout borders */
