/*********************/
/*** Theme colours ***/
/*********************/

$theme-a-color : #FF3366;
$theme-b-color : #1F1F1F;
$theme-c-color : #80C837;
$theme-d-color : #FCF7F8;
$theme-e-color : #F4F0F0;
$theme-f-color : #D0021B;
$theme-g-color : #000000;
$theme-h-color : #F4F0F0; 
